:root {
    --g-Grd: 5px;
    --h-GrdHdr: 40px;
    --h-GrdMain: calc(100vh - calc(var(--h-GrdHdr) + var(--g-Grd) + 5px));
    --h-GrdTblHdr: 40px;
    --h-GrdTblMain: calc(var(--h-GrdMain) - var(--h-GrdTblHdr) - 10px);
    --h-GrdTbl2Hdr: 40px;
    --h-GrdTbl2Ftr: 40px;
    --h-GrdTbl2Main: calc(var(--h-GrdMain) - var(--h-GrdTblHdr) - var(--h-GrdTblFtr) - var(--g-Grd) - 5px);
}
/*
body {
    background-image: url(/sys/mm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
*/

body {
    /*margin: 10px;*/
    height: auto;
    font-size: .9rem;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.tarih{
    width: 4rem;
}
.icon {
    width: 20px;
}
button{
    min-width:unset;
}

[data-Lvl="1"] {
    font-weight: bold;
}

[data-Lvl="2"] {
    padding-left: 1rem !important;
    /*font-size: 0.95rem;*/
}
[data-Lvl="3"] {
    padding-left: 2rem !important;
    /*font-size: 0.90rem;*/
}
[data-Lvl="4"] {
    padding-left: 3rem !important;
    /*font-size: 0.85rem;*/`
}
[data-Lvl="5"] {
    padding-left: 4rem !important;
    /*font-size: 0.80rem;*/
}
[data-Lvl="6"] {
    padding-left: 5rem !important;
    /*font-size: 0.75rem;*/
}

.txtLeft {
    text-align: left;
}
.txtCenter {
    text-align: center;
}
.txtRight {
    text-align: right;
}

.mdfDlg {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
}

.mdfRecTbl{
    border-spacing:1px;
}
.mdfRecTbl td {
    padding: 0 5px;
    border: .1rem solid #e2d1d1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    border-spacing: 0px 0px;
}

.fixTbl {
    /*table-layout: fixed;*/
    /*width: 0px;*/
    border-collapse: collapse;
}

    .fixTbl th {
        /*padding-top: 0.5rem;
        padding-bottom: 0.5rem;*/
        padding: 0 5px;
        font-weight: bold;
        text-align: center;
        background-color: #eaeace;
        border: .1rem solid #e2d1d1;
    }

    .fixTbl td {
        padding: 0 5px;
        border: .1rem solid #e2d1d1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .fixTbl tfoot td {
        /*padding-top: 0.5rem;
        padding-bottom: 0.5rem;*/
        border-color: transparent;
        background-color: #eaeace;
    }

.fixTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

    .fixTbl tr:hover {
        /*background-color: #ddd;*/
        background-color: yellow;
    }
/*
#HHsPageTbl th {
    background-color: #347737;
    color: white;
}
#FFsRprTbl th, #FFsRprTbl tfoot td {
    background-color: maroon;
    color: white;
}

#PPsPageTbl th, #PPsPageTbl tfoot td {
    background-color: chocolate;
    color: white;
}
*/
.grid {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 1fr;
    grid-template-rows: var(--h-GrdHdr) var(--h-GrdMain); /*75px calc(100vh - 80px);*/
    /*grid-gap: var(--g-Grd);*/
}

.grid_header {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    overflow-x: auto;
    background-color: beige;
    grid-area: header;
    /*padding-left: 5px;*/
    /*grid-template-columns: 3rem 3rem 3rem 3rem 1fr max-content;*/
    grid-auto-flow: column;
    justify-items: center;
}

.grid_main {
    /*background-color: #C2EAE9;*/
    grid-area: main;
    overflow: auto;
}

.grid_left {
    background-color: #FACFD7;
    grid-area: nav;
}

.grid_right {
    background-color: #6CD1EA;
    grid-area: right;
}

.grid_footer {
    background-color: #F8EFB6;
    grid-area: footer;
}

.gridTbl {
    display: grid;
    grid-template-areas: "headerTbl" "mainTbl";
    grid-template-columns: 1fr;
    grid-template-rows: var(--h-GrdTblHdr) var(--h-GrdTblMain); /*75px calc(100vh - 80px);*/
    grid-gap: var(--g-Grd);
}

.gridTbl_header {
    background-color: teal; /*#C2EAE9;*/
    color: white;
    grid-area: headerTbl;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 2rem 1fr auto;
    grid-gap: 1rem;
    /*margin: 0 5px;*/
    padding: 0 5px;
    /*font-weight: bold;*/
    /*font-size: medium;*/
}

.gridTbl_main {
    /*background-color: #C2EAE9;*/
    grid-area: mainTbl;
    overflow: auto;
}

.mdfRecWrap {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: start;
    align-items: center;
    grid-gap: 3px 5px;
    padding: 0 5px;
    /*margin-top: 10px;*/
}

.mdfRecAction {
    display: grid;
    grid-auto-flow: column;
    padding: 0 5px;
    /*justify-content: space-between;*/
}

button.edit {
    padding: 1px 4px;
    /*border-radius: 5px;*/
    /*border: 1px solid #73AD21;*/
    box-shadow: none;
    background-color: inherit;
    max-width: 24px;
    /*margin: 0;*/
}

button.download {
    background-color: gold;
    min-width: 3rem;
}

button.insert {
    background-color: yellow;
    min-width: 3rem;
}

input {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    background-color:transparent !important;
}

input[type="date"]{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
select{
    padding:0 !important;
    box-shadow:none !important;
}
