[data-Lvl="0"] {
    font-weight:bold;
}
[data-Lvl="1"] {
    padding-left: 1rem !important;
    font-size: 0.95rem;
}
[data-Lvl="2"] {
    padding-left: 2rem !important;
    font-size: 0.90rem;
}
[data-Lvl="3"] {
    padding-left: 3rem !important;
    font-size: 0.85rem;
}
[data-Lvl="4"] {
    padding-left: 4rem !important;
    font-size: 0.80rem;
}
[data-Lvl="5"] {
    padding-left: 5rem !important;
    font-size: 0.75rem;
}

.txtLeft {
    text-align: left;
}
.txtCenter {
    text-align: center;
}
.txtRight {
    text-align: right;
}


.fixTbl {
    table-layout: fixed;
    width: 0px;
    border-collapse: collapse;
}

    .fixTbl th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
        text-align: center;
        background-color: #eaeace;
        border: .1rem solid #e2d1d1;
    }

    .fixTbl td {
        padding: 0 5px;
        border: .1rem solid #e2d1d1;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word
    }

    .fixTbl tfoot td {
        border-color: transparent;
    }

.fixTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fixTbl tr:hover {
    background-color: #ddd;
}

#HHsPageTbl th {
    background-color: #347737;
    color: white;
}
#FFsRprTbl th {
    background-color: maroon;
    color: white;
}
#FFsRprTbl tfoot td {
    background-color: maroon;
    color: white;
}

#PPsPageTbl th {
    background-color: #006868;
    color: white;
}

#PPsPageTbl tfoot td {
    background-color: #006868;
    color: white;
}
            